body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    max-width: 100;
    overflow-x: hidden;
}

.card-title {
    color: #fcd424 !important;
}

.fa-star {
    color: #F0CF5B;
}

.btn-danger {
    background-color: #fcd424 impr !important;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background: #fcd424 !important;
}

#app {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fcd424 !important;
    background: linear-gradient(180deg, #212529 0%, rgba(250, 226, 122, 1) 50%, #fcd424 100%) !important;
}

footer {
    margin-top: auto;
    width: 100%;
    overflow: hidden;
}

.navbar-brand {
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.nav-dropdown {
    color: white !important;
}

.nav-dropdown:hover {
    background-color: #fce44b !important;
    color: black !important;
}

.profile-img-nav {
    border-radius: 200px 200px 200px 200px !important;
    -webkit-border-radius: 200px 200px 200px 200px !important;
    -moz-border-radius: 200px 200px 200px 200px !important;
    height: 30px;
    width: 30px;

}

#main_video {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 100;
}

#container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

#content {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#white-box {
    left: 5%;
    top: 10%;
    width: 40%;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 5%;
    padding-bottom: 10%;
    text-align: center;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.41);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.41);
    max-height: 100%;
    overflow-y: scroll;
    z-index: 2;
}

#white-box::-webkit-scrollbar {
    width: 6px;
    /* Set the width of the scrollbar */
}

#white-box::-webkit-scrollbar-thumb {
    background-color: #fce44b;
    /* Set the color of the thumb (the draggable part) */
    border-radius: 6px;
    /* Add rounded corners to the thumb */
}

#white-box::-webkit-scrollbar-track {
    background: transparent;
    /* Set the color of the track (the non-draggable part) */
}

#register-button {
    border-radius: 51px 51px 51px 51px;
    -webkit-border-radius: 51px 51px 51px 51px;
    -moz-border-radius: 51px 51px 51px 51px;
    background-color: #F0CF5B;
    width: 90%;
    height: 35px;
    color: white;
}

#form-container {
    margin-top: 25%;
}

.form-group {
    width: 100%;
    margin-bottom: 5%;
    display: flex;

}

.form-group input {
    border-radius: 51px 51px 51px 51px;
    -webkit-border-radius: 51px 51px 51px 51px;
    -moz-border-radius: 51px 51px 51px 51px;
    height: 35px;
    width: 100%;
    padding-left: 5%;
}

.form-group label {
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    line-height: 35px;
    margin-right: 5%;

}

.inverse-form-button {
    width: 100%;
    text-align: center;
    background-color: transparent !important;
    color: #fce44b !important;

    border-radius: 16px 16px 16px 16px;
    -webkit-border-radius: 16px 16px 16px 16px;
    -moz-border-radius: 16px 16px 16px 16px;
    border: 0.8px solid #fce44b !important;
}

.inverse-form-button:hover {
    background-color: #fce44b !important;
    color: #212529 !important;
}

.form-button {
    width: 100%;
    text-align: center;
    background-color: #fce44b !important;
    color: #212529 !important;
}

.form-button:hover {
    background-color: #f6dc33 !important;

}

.form-info {
    margin-top: 5%;
    font-family: 'Times New Roman', Times, serif;
}

.form-info label {
    font-style: italic;
}

.form-info a {
    text-decoration: none;
    color: #F0CF5B;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10pt;
}

.form-info p {
    font-size: 10pt;
}

.courseContainer {
    position: fixed;
    max-height: 200px;
}

.card-holder {
    position: relative;
}

.course-card:hover {
    cursor: pointer;
    position: absolute;
    transition: all 1s ease;
}

.course-description {
    overflow: scroll;
    height: 20px !important;
    transform-origin: top;
    transition: height 1s ease;
    padding-right: 10px;
    /* Text truncate */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.course-card:hover .course-description {
    height: 130px !important;
    /* Text truncate */
    white-space: initial;
    overflow-y: scroll;
    text-overflow: initial;
}

.profile-img {
    border-radius: 200px 200px 200px 200px !important;
    -webkit-border-radius: 200px 200px 200px 200px !important;
    -moz-border-radius: 200px 200px 200px 200px !important;
    height: 200px;
    width: 200px;

}

.card-scrollable {
    overflow-y: scroll !important;
    max-height: 90vh;
    display: flex;
    flex-direction: column;
}

.lesson-img {
    border-radius: 200px 200px 200px 200px !important;
    -webkit-border-radius: 200px 200px 200px 200px !important;
    -moz-border-radius: 200px 200px 200px 200px !important;
    height: 75px;
    width: 75px;
}

.info-card {
    background-color: #212529 !important;
}

.border-left {
    border: 5px #212529 solid;
    border-image: linear-gradient(to top right, #212521 10%, transparent 25%) 1;
}

.border-right {
    border: 5px #212529 solid;
    border-image: linear-gradient(to bottom left, #212521 10%, transparent 25%) 1;
}

.trix-content {
    background-color: #fce44b;
    font-family: 'Courier New', Courier, monospace;
}

trix-toolbar .trix-button-group button {
    background-color: #fce44b;
}

trix-toolbar .trix-button-group--file-tools {
    display: none !important;
}

.success-alert {
    background: linear-gradient(180deg, #F0CF5B 75%, #212521 100%) !important;
    border: none !important;
}

.btn-unformatted {
    background-color: transparent;
    border: none;
}

#courseTable_length {
    color: white !important;
}

#calendar {
    color: #F0CF5B !important;
}

#calendar a {
    color: white;
}

.fc-col-header-cell-cushion {
    color: #F0CF5B !important;
}

.fc-daygrid-day-number{
    color: #F0CF5B !important;

}