#main_video {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}



span {
    transition: transform 0.3s ease-in-out;
}

#enterImg {
    max-height: 20px;
    transition: transform 0.2s ease-in-out;
    
}

#enterImg:hover {
    transform: translateX(10px) scale(2);
}

#enterImg:hover +span {
    transform: translateX(20px);
}

#enter_input {

    letter-spacing: 5px;
    text-transform: uppercase;
}